{% extends 'base.html' %}

{% block content %}

<div class="card" id="carddetail">

    <header class="card-header" id="head">
                        
        <b>{{ product.name }}</b>
        <b>${{ product.price }}</b>
    
    </header>

    <div class="card-content">   
      
        <div class="card-image">
            <figure class="image is-5by3">
                <img src="{{product.image.url}}" alt="Placeholder image">
            </figure>
        </div>

    </div>

    <footer class="card-footer">
        <a href="{% url 'index' %}" class="button is-link is-light card-footer-item">Back To Shopping</a>
        <button type="button" data-product={{product.id}} data-action="add" class="button card-footer-item is-primary is-light updatecart"> 
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart
        </button>
        <button type="button" data-product={{product.id}} data-action="remove" class="button card-footer-item is-danger is-light updatecart"> 
            <i class="fa fa-comment" aria-hidden="true"></i> Remove
        </button>

    </footer>

</div>

{% endblock %}